.title {
    font-size: 3rem;
}
.road {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: grey;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.line {
    width: 10%;
    height: 20px;
    background-color: #fff;
    margin: 0 15px 0 15px;
}
.car-icon {
    width: 13%;
    position: absolute;
    top: 100px;
    animation: car-move  10s infinite;
}

@keyframes car-move {
      0% {
        left: 0;
    }
    50% {
        left: 85%;
    }
    100% {
        left: 0;
    }
        
}